<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianba.userdomain.discount.mapper.CommonCouponMapper">

	<!-- 分页sql -->
	<sql id="pageSql">
		<if test="startRow >= 0 and pageSize >0">
			limit #{startRow}, #{pageSize}
		</if>
	</sql>

    <!-- ############ 商家信息 ############## -->
    <resultMap id="baseMerchantResultMap" type="com.dianba.userdomain.merchant.entity.Merchant">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="group_id" property="groupId"/>
        <result column="city_id" property="cityId"/>
    </resultMap>
    <resultMap id="baseCouponMerchantResultMap" extends="baseMerchantResultMap" type="com.dianba.userdomain.merchant.entity.Merchant">
        <result column="org_id" property="cityId"/>
    </resultMap>
    	<!-- ################# 优惠券裂变订单记录 ###################### -->
	<resultMap id="baseCouponFissionResultMap" type="com.dianba.userdomain.discount.entity.CouponFission">
	    <result column="id" property="id"/>
	    <result column="order_id" property="orderId"/>
	    <result column="user_id" property="userId"/>
	    <result column="amount" property="amount"/>
	    <result column="coupon_grant_id" property="couponGrantId"/>
	    <result column="begin_time" property="beginTime"/>
	    <result column="end_time" property="endTime"/>
	    <result column="created_time" property="createdTime"/>
	</resultMap>
		<select id="findCouponFissionByOrderId" parameterType="Long" resultMap="baseCouponFissionResultMap">
       select id, order_id, user_id, amount, coupon_grant_id, begin_time, end_time 
       from coupon_fission where order_id=#{id}
    </select>
	<!-- 查找支持发放优惠券商家与优惠券相关简略信息 -->
	<select id="findSupportCouponMerchant" resultMap="baseCouponMerchantResultMap">
		select 
		  m.id, m.title, m.group_id, o.pid org_id 
		from merchant m, 0085_merchant_org mo, 0085_org o
		where m.id = mo.merchant_id and mo.org_id = o.id
		    and m.id = #{merchantId}
		    and 1 in (
		        select count(0) can_use_coupon from 0085_merchant_info where merchant_id=#{merchantId} and merchant_source in (0, 1, 2)
		    )
	</select>
	
	<!-- 可发券商家类型只有:0,1,2 -->
	<select id="findCanGrantMerchant" resultType="Integer">
		select count(0) from 0085_merchant_info where merchant_id=#{merchantId} and merchant_source in (0, 1, 2)
	</select>

	<select id="findCategoryNames" resultType="com.dianba.userdomain.merchant.entity.Category">
		select id,name from category where id in(${categoryIds})
	</select>
	<select id="findMerchantNames" resultType="com.dianba.userdomain.merchant.entity.Merchant">
		select id,title from merchant where id in(${merchantIds})
	</select>

    <!-- ############ 商家折扣 ############## -->
	<resultMap id="baseCouponDiscountResultMap" type="com.dianba.userdomain.discount.entity.CouponDiscount">
		<result column="merchant_id" property="merchantId" />
		<result column="takeout" property="takeout" />
		<result column="dine" property="dine" />
		<result column="mention" property="mention" />
		<result column="created_by" property="createdBy" />
		<result column="created_time" property="createdTime" />
	</resultMap>
    
    <!-- 查找商家的扣点 -->
	<select id="findCouponDiscount" resultMap="baseCouponDiscountResultMap">
		select merchant_id,takeout,dine,mention from coupon_discount where merchant_id=#{merchantId}
	</select>
	<!-- ############ 商家折扣 end ############## -->




	
	<!-- 根据订单id查找未赠送优惠券信息 -->
	
	

	<!-- ################# 操作用户优惠券表 ###################### -->
	<!-- 依据tbNum参数获取用户优惠券分表表名称 -->
	<resultMap id="baseCouponUserResultMap" type="com.dianba.userdomain.discount.entity.CouponUser">
		<result column="id" property="id" />
		<result column="sn" property="sn" />
		<result column="user_id" property="userId" />
		<result column="coupon_id" property="couponId" />
		<result column="source_type" property="sourceType" />
		<result column="source_id" property="sourceId" />
		<result column="source_group" property="sourceGroup" />
		<result column="source" property="source" />
		<result column="begin_used_time" property="beginUsedTime" />
		<result column="end_used_time" property="endUsedTime" />
		<result column="status" property="status" />
		<result column="used_time" property="usedTime" />
		<result column="used_amount" property="usedAmount" />
		<result column="created_time" property="createdTime" />
		<result column="amount" property="amount"/>
	</resultMap>
	<sql id="getCouponUserTbName">
		coupon_user_${tbNum}
	</sql>
	<!-- 查找用户当前商家可用优惠券where 条件sql -->
	<sql id="findUserCouPonSql_Where">
		where user_id = #{userId}
		and status = #{status}
		and #{usedTime} between
		begin_used_time and end_used_time
		<if test="sourceType != null">
			and source_type=#{sourceType}
		</if>
		<if test="sourceGroup != null and sourceId != null">
			and
			<!-- 平台券 -->
			(
			     (
			         source_type = 100 and source_group=#{sourceGroup}
					<if test="amount != null">
			            and #{amount} >= amount
			        </if>
			     )
			<!-- 商家券 -->
			or (
			         source_type = 200 and source_id=#{sourceId}
			         <if test="actualMoney != null">
                        and #{actualMoney} >= amount
                     </if>
			   )
			)
		</if>
		order by amount desc
	</sql>
	<resultMap id="baseSysTextResultMap" type="com.dianba.userdomain.sysdictionary.entity.SysText">
		<result column="id" property="id" />
		<result column="code" property="code" />
		<result column="code_type" property="codeType" />
		<result column="code_name" property="codeName" />
		<result column="code_value" property="codeValue" />
		<result column="created_time" property="createdTime" />
		<result column="careted_by" property="caretedBy" />
	</resultMap>
	<!-- 根据编码查找文本信息 -->
	<select id="findSysTexts" resultMap="baseSysTextResultMap">
		select id,code,code_name,code_value,created_time from sys_text
		where code_type=#{codeType} 
		order by code asc
	</select>


	<resultMap id="baseCouponUserGrantResultMap" type="com.dianba.userdomain.discount.entity.CouponUserGrant">
		<result column="id" property="id" />
		<result column="order_id" property="orderId" />
		<result column="user_id" property="userId" />
		<result column="coupon_ids" property="couponIds" />
		<result column="status" property="status" />
		<result column="created_time" property="createdTime" />
	</resultMap>
	<!-- 根据订单id查找未赠送优惠券信息 -->
	<select id="findOrderCanGrantCoupon" resultMap="baseCouponUserGrantResultMap">
		select id,order_id,status
		from coupon_user_grant
		where order_id=#{orderId}
	</select>
	<update id="updateCouponUserGrant" parameterType="com.dianba.userdomain.discount.entity.CouponUserGrant">
		update coupon_user_grant
		<set>
			<if test="orderId != null">
				order_id = #{orderId},
			</if>
			<if test="userId != null">
				user_id = #{userId},
			</if>
			<if test="couponIds != null">
				coupon_ids = #{couponIds},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="createdTime != null">
				created_time = #{createdTime},
			</if>
		</set>
		where id=#{id}
	</update>

	<insert id="addCouponUserGrant" parameterType="com.dianba.userdomain.discount.entity.CouponUserGrant" useGeneratedKeys="true" keyProperty="id">
		insert into coupon_user_grant
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id!=null">
				id,
			</if>
			<if test="orderId!=null">
				order_id,
			</if>
			<if test="userId!=null">
				user_id,
			</if>
			<if test="couponIds!=null">
				coupon_ids,
			</if>
			<if test="status!=null">
				status,
			</if>
			<if test="createdTime!=null">
				created_time,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id!=null">
				#{id},
			</if>
			<if test="orderId!=null">
				#{orderId},
			</if>
			<if test="userId!=null">
				#{userId},
			</if>
			<if test="couponIds!=null">
				#{couponIds},
			</if>
			<if test="status!=null">
				#{status},
			</if>
			<if test="createdTime!=null">
				#{createdTime},
			</if>
		</trim>
	</insert>
	
	<!-- 查找用户当前商家可用可用优惠券id，多个用逗号隔开 -->
	<select id="findUserCoupons" resultMap="baseCouponUserResultMap">
		select id,sn,coupon_id,source_type,source_id,source_group,amount from
		<include refid="getCouponUserTbName" />
		<include refid="findUserCouPonSql_Where" />
		<include refid="pageSql" />
	</select>
	<select id="findUserCouponsBySns" resultMap="baseCouponUserResultMap">
		select id,sn, amount, coupon_id, source_group, source_id
		from
		<include refid="getCouponUserTbName" />
		where sn in(${couponSns})
	</select>
	<!-- 查找用户优惠券详细 -->
	<select id="findCouponUser" resultMap="baseCouponUserResultMap">
		select
		id,user_id,coupon_id,source_type,source_id,source_group,source,begin_used_time,end_used_time,status
		from
		<include refid="getCouponUserTbName" />
		<where>
			<if test="sn != null">
				sn=#{sn }
			</if>
			<if test="userId != null">
				and user_Id=#{userId}
			</if>
		</where>
	</select>
	<insert id="insertCoupon" useGeneratedKeys="true" keyProperty="couponUser.id">
		insert into
		<include refid="getCouponUserTbName" />
		<trim prefix="(" suffix=")" suffixOverrides=",">
			sn,
			user_id,
			coupon_id,
			source_type,
			source_id,
			source_group,
			source,
			begin_used_time,
			end_used_time,
			status,
			created_time,
			amount
		</trim>
		values
		(#{couponUser.sn},#{couponUser.userId},#{couponUser.couponId},#{couponUser.sourceType},#{couponUser.sourceId},#{couponUser.sourceGroup},
		#{couponUser.source},#{couponUser.beginUsedTime},#{couponUser.endUsedTime},#{couponUser.status},#{couponUser.createdTime},#{couponUser.amount})
	</insert>
	<!-- 使用优惠券 -->
	<update id="useCoupon">
		update
		<include refid="getCouponUserTbName" />
		set status = 1,used_time = #{usedTime},used_amount=#{usedAmount}
		where
		user_id = #{userId} and sn = #{couponSn} and status = -1
	</update>

	<!-- ################# 操作优惠券表 ###################### -->
	<resultMap id="baseCouponResultMap" type="com.dianba.userdomain.discount.entity.Coupon">
		<result column="id" property="id"/>
	    <result column="name" property="name"/>
	    <result column="source_type" property="sourceType"/>
	    <result column="source_id" property="sourceId"/>
	    <result column="source_group" property="sourceGroup"/>
	    <result column="group_name" property="groupName"/>
	    <result column="amount" property="amount"/>
	    <result column="put_condition" property="putCondition"/>
	    <result column="put_total_count" property="putTotalCount"/>
	    <result column="surplus_count" property="surplusCount"/>
	    <result column="begin_grant_time" property="beginGrantTime"/>
	    <result column="end_grant_time" property="endGrantTime"/>
	    <result column="use_condition" property="useCondition"/>
	    <result column="begin_used_time" property="beginUsedTime"/>
	    <result column="end_used_time" property="endUsedTime"/>
	    <result column="coupon_sn" property="couponSn"/>
	    <result column="created_time" property="createdTime"/>
	    <result column="created_by" property="createdBy"/>
	    <result column="put_condition_type" property="putConditionType"/>
	</resultMap>
	<!-- 根据条件查找优惠券内容 -->
	<select id="findCoupons" resultMap="baseCouponResultMap">
		select id,
		name,
		source_type,
		source_id,
		source_group,
		amount,
		put_condition,
		put_total_count,
		surplus_count,
		use_condition,
		begin_used_time,
		end_used_time,
		coupon_sn,
		put_condition_type
		from coupon
		where id in(${couponIds})
		<if test="useCondition != null">
			and #{useCondition} >= use_condition
		</if>
		<if test="useCondition != 0">
			order by ${orderByField} desc, created_time asc
		</if>
	</select>
	<!-- 查找优惠券条数 -->
	<select id="findCouponCount" resultType="Integer">
		select count(0) from
		coupon where id in(${couponIds})
		and #{useCondition} >= use_condition
	</select>
	<!-- 查找发放中的优惠券 -->
	<select id="findGrantToUserCoupon" resultMap="baseCouponResultMap">
		select id,
		name,
		source_type,
		source_id,
		source_group,
		amount,
		use_condition,
		begin_used_time,
		end_used_time,
		coupon_sn,
		put_total_count,
		surplus_count
		from coupon
		<where>
			<if test="couponIds != null">
				id in(${couponIds})
			</if>
			<if test="grantTime != null">
				and #{grantTime} between begin_grant_time and end_grant_time
			</if>
			<if test="sourceType != null">
				and source_type=#{sourceType}
			</if>
			<if test="sourceId != null">
				and source_id=#{sourceId}
			</if>
			and #{putCondition} >= put_condition
			<if test="surplusCount != null">
				and (surplus_count = -1 or surplus_count >=
				#{surplusCount})
			</if>
		</where>
		order by amount desc,
		created_time asc
		<include refid="pageSql" />
	</select>
	<!-- 查询单条优惠券信息 -->
    <select id="findCoupon" resultMap="baseCouponResultMap">
        select id,
        name,
        source_type,
        source_id,
        source_group,
        amount,
        use_condition,
        begin_used_time,
        end_used_time,
        coupon_sn,
        put_total_count,
        surplus_count
        from coupon
        where id = #{couponId}
    </select>
	<!-- 更新剩余优惠券数 -->
	<update id="updateSurplus">
		update coupon set surplus_count=surplus_count-#{used}
		where id=#{couponId} and surplus_count > 0 and surplus_count >=
		#{used}
	</update>



	<!-- ################# 优惠券发放表 ###################### -->
	<resultMap id="baseCouponGrantResultMap" type="com.dianba.userdomain.discount.entity.CouponGrant">
		<result column="id" property="id"/>
	    <result column="from_type" property="fromType"/>
	    <result column="from_id" property="fromId"/>
	    <result column="from_group" property="fromGroup"/>
	    <result column="from_rule" property="fromRule"/>
	    <result column="from_area" property="fromArea"/>
	    <result column="used_type" property="usedType"/>
	    <result column="used_id" property="usedId"/>
	    <result column="used_group" property="usedGroup"/>
	    <result column="coupon_id" property="couponId"/>
	    <result column="merchant_discount" property="merchantDiscount"/>
	    <result column="begin_grant_time" property="beginGrantTime"/>
	    <result column="end_grant_time" property="endGrantTime"/>
	    <result column="created_by" property="createdBy"/>
	    <result column="created_time" property="createdTime"/>
	</resultMap>
	<!-- 查找发放中的优惠券id -->
	<select id="findGrantCoupons" resultMap="baseCouponGrantResultMap">
		select coupon_id,used_type,used_id,used_group from coupon_grant
		where
		#{grantTime} between begin_grant_time and end_grant_time
		<if test="couponId != null">
			and coupon_id=#{couponId}
		</if>
		<if test="usedType != null">
			and used_type=#{usedType}
		</if>
		<if test="usedId != null">
			and used_id=#{usedId}
		</if>
		<if test="usedGroup != null">
			and used_group=#{usedGroup}
		</if>
	</select>
	<!-- 查询券的分类数 -->
	<select id="couponGrantCount" resultType="Integer">
		select count(0) from
		coupon_grant where coupon_id = #{couponId}
	</select>
	
	<!-- 查询正在发放的，支持某个分类，某个区域的 发券信息 -->
	<select id="findCouponsBeingIssued" resultMap="baseCouponGrantResultMap">
	   select 
	       g.id, g.from_group, g.from_rule, g.from_area, g.used_type, g.used_id, 
	       g.used_group, g.coupon_id, g.begin_grant_time, g.end_grant_time 
	   from coupon_grant g, coupon c
	   where g.coupon_id = c.id
	       and #{grantTime} between g.begin_grant_time and g.end_grant_time 
	       and find_in_set(#{gromGroup}, g.from_group)
	       and find_in_set(#{fromArea}, g.from_area)
           and from_type = #{fromType}
       order by c.put_condition desc;
	</select>
	
	<!-- 查询正在发放的商家券 -->
	<select id="findMerchantCouponsBeingIssued" resultMap="baseCouponGrantResultMap">
       select 
           g.id, g.from_group, g.from_rule, g.from_area, g.used_type, g.used_id, 
           g.used_group, g.coupon_id, g.begin_grant_time, g.end_grant_time
           from coupon_grant g, coupon c
       where g.coupon_id = c.id
           and #{grantTime} between g.begin_grant_time and g.end_grant_time 
           and used_id = #{usedId}
           and from_type = #{fromType}
           and #{putCondition} >= c.put_condition
            <if test="surplusCount != null">
                and (c.surplus_count = -1 or c.surplus_count >=  #{surplusCount})
            </if>
       order by c.put_condition desc limit 1;
    </select>
	
	
    <!-- ################# 优惠券发放表 end ###################### -->


	<!-- ################# 优惠券统计 ###################### -->

	<resultMap id="baseCouponUserStaticsResultMap" type="com.dianba.userdomain.discount.entity.CouponUserStatics">
		<result column="id" property="id" />
		<result column="coupon_id" property="couponId" />
		<result column="used_type" property="usedType" />
		<result column="used_id" property="usedId" />
		<result column="used_group" property="usedGroup" />
		<result column="from_group" property="fromGroup" />
		<result column="from_area" property="fromArea" />
		<result column="put_total_count" property="putTotalCount" />
		<result column="reciveied_count" property="reciveiedCount" />
		<result column="used_count" property="usedCount" />
	</resultMap>

	<select id="findCouponUserStatics" resultMap="baseCouponUserStaticsResultMap">
		select id,put_total_count,reciveied_count,used_count from
		coupon_user_statics
		<where>
			<if test="couponId != null">
				and coupon_id=#{couponId}
			</if>
			<if test="usedType != null">
				and used_type=#{usedType}
			</if>
			<if test="usedId != null">
				and used_id=#{usedId}
			</if>
			<if test="usedGroup != null">
				and used_group=#{usedGroup}
			</if>
			<if test="fromGroup != null">
                and from_group=#{fromGroup}
            </if>
            <if test="fromArea != null">
                and from_area=#{fromArea}
            </if>
		</where>
		limit 1
	</select>
	<insert id="insertCouponUserStatics" useGeneratedKeys="true" keyProperty="id">
		insert into coupon_user_statics(
			coupon_id,
			used_type,
			used_id,
			used_group,
			from_group,
			from_area,
			put_total_count,
			reciveied_count,
			used_count
		)
		values(
			#{couponId},
			#{usedType},
			#{usedId},
			#{usedGroup},
			#{fromGroup},
			#{fromArea},
			#{putTotalCount},
			#{reciveiedCount},
			#{usedCount}
		)
	</insert>
	
	<!-- ################# 优惠券裂变订单记录 ###################### -->
	
	<update id="updateCouponUserStatics">
		update coupon_user_statics
		<set>
			<if test="couponId != null">
				coupon_id = #{couponId},
			</if>
			<if test="usedType != null">
				used_type = #{usedType},
			</if>
			<if test="usedId != null">
				used_id = #{usedId},
			</if>
			<if test="usedGroup != null">
				used_group = #{usedGroup},
			</if>
			<if test="fromGroup != null">
                from_group = #{fromGroup},
            </if>
            <if test="fromArea != null">
                from_area = #{fromArea},
            </if>
			<if test="putTotalCount != null">
				put_total_count = #{putTotalCount},
			</if>
			<if test="reciveiedCount != null">
				reciveied_count = #{reciveiedCount},
			</if>
			<if test="usedCount != null">
				used_count = #{usedCount},
			</if>
		</set>
		where id = #{id}
	</update>
	<!-- ################# 裂变订单记录 end ###################### -->
	
	<!-- ################# 裂变用户记录 ###################### -->
	
    <!-- ################# 裂变用户记录 end ###################### -->
</mapper>