<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.dianba.userdomain.sysdictionary.mapper.CommonSystemConfigMapper">
    <resultMap type="com.dianba.userdomain.sysdictionary.entity.SystemConfig" id="systemConfigMap">
		<result property="id" column="id"/>
		<result property="code" column="code"/>
		<result property="value" column="value"/>
		<result property="remark" column="remark"/>
		<result property="configType" column="config_type"/>

    </resultMap>
    
    <sql id="Example_Where_Clause" >
	  <trim prefix="where" prefixOverrides="and|or" >
	    			<if test="id != null  and id !=''" >
			and id = #{id}
			</if>
			<if test="code != null  and code !=''" >
			and code = #{code}
			</if>
			<if test="value != null  and value !=''" >
			and value = #{value}
			</if>
			<if test="remark != null  and remark !=''" >
			and remark = #{remark}
			</if>
			<if test="configType != null  and configType !=''" >
			and config_type = #{configType}
			</if>

	  </trim>
  	</sql>
	<sql id="Base_Column_List" >
	  id,code,value,remark,config_type
    </sql>
    
    <select id="getSystemConfigList" resultMap="systemConfigMap">
    	SELECT 
			<include refid="Base_Column_List" /> 
			FROM system_config
    </select>
    
    <select id="getSystemConfigPageList" resultMap="systemConfigMap" parameterType="com.dianba.userdomain.sysdictionary.entity.SystemConfig">
    	SELECT 
			<include refid="Base_Column_List" /> 
			FROM system_config
			<include refid="Example_Where_Clause" />
    </select>
    
    <select id="getSystemConfigByPrimaryKey" parameterType="Integer" resultMap="systemConfigMap">
    	SELECT 
			<include refid="Base_Column_List" /> 
			FROM system_config WHERE id =#{id}
    </select>
    
    <insert id="createSystemConfig" parameterType="com.dianba.userdomain.sysdictionary.entity.SystemConfig">
        <selectKey resultType="Integer"  order="AFTER" keyProperty="id" >
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO system_config(
			id,
			code,
			value,
			remark,
			config_type
		)VALUES(
			#{id},
			#{code},
			#{value},
			#{remark},
			#{configType}
		)
    </insert>
    
    <update id="updateSystemConfig" parameterType="com.dianba.userdomain.sysdictionary.entity.SystemConfig">
		UPDATE system_config SET
			code = #{code},
			value = #{value},
			remark = #{remark},
			config_type = #{configType}
		WHERE id = #{id}

    </update>
    
    <update id="updateSystemConfigSelective" parameterType="com.dianba.userdomain.sysdictionary.entity.SystemConfig">
		UPDATE system_config
		<set>
			<if test="code != null" >
			code = #{code},
			</if>
			<if test="value != null" >
			value = #{value},
			</if>
			<if test="remark != null" >
			remark = #{remark},
			</if>
			<if test="configType != null" >
			config_type = #{configType}
			</if>
		</set>
		WHERE id = #{id}

    </update>
    
    <delete id="deleteSystemConfig" parameterType="Integer">
    	DELETE FROM  system_config WHERE id =#{id}
    </delete>
    <select id="getScoreConfig"  resultMap="systemConfigMap">
    	SELECT 
			<include refid="Base_Column_List" /> 
			FROM `system_config` WHERE `code` ='score' OR `code` ='score_money' OR `code` ='score_total_prices'
    </select>
    
    <select id="systemconfigAppId" resultType="java.lang.String">
		SELECT `value` FROM system_config WHERE `code`='appid'
    </select>
    
    <select id="systemconfigAppSecret" resultType="java.lang.String">
		SELECT `value` FROM system_config WHERE `code`='appsecret'
    </select>
</mapper>